* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #2f2f2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4d4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

button:hover {
  background-color: #333;
}

.attribute {
  position: absolute;
  bottom: 25px;
  color: #fff;
}

.attribute a {
  text-decoration: none;
  color: blue;
}
